*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.greet{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100vh; */
  margin-top: 18px;
}
.heading{
  /* background-color: #ffe9c5; */
  /* color: #fa9191;*/
   color: white;
  padding: 20px 20px;
  /* border-radius: 18px; */
  font-family: 'Staatliches', cursive;
  letter-spacing: 8px;
  /* box-shadow: 10px 10px 10px 0px rgb(75, 75, 75); */
}
.Show_time{
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: 120px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 18px;
  color: rgb(29, 28, 28);
}
p{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
  color: rgb(29, 28, 28);
}
footer h1{
  display: flex;
  justify-content: center;
  margin-top: 8%;
  font-family: 'Staatliches', cursive;
  letter-spacing: 10px;
  text-transform: capitalize;
  font-size: 20px;
  color: rgb(29, 28, 28);
}